<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h1>User info</h1>
<!-- tr- строка td-столбец-->
<table>
    <tr>
        <td>Id</td>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user.email}"></td>
    </tr>

</table>
<br>
<a href="/users/all">Back</a>

</body>
</html>