<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user page</title>
</head>
<body>

<form name="user" action="/users/update" method="post">
    <p>Name</p>
    <input type="hidden" th:field="${user.id}" />
    <input title="Name" type="text" name="name" th:value="${user.name}">
    <p>Email</p>
    <input title="Email" type="text" name="email" th:value ="${user.email}" >
    <p>Age</p>
    <input title="Age" type="text" name="password" th:value = "${user.age}">
    <input type="submit" value="OK">
</form>


</body>
</html>